<!DOCTYPE html>

<html>
    <head>
        <style>
            form {{
                background-color: #eee;
                padding: 20px;
                margin: 0 auto;
                width: 540px;
                font: 16px sans-serif;
                border-radius: 10px;
            }}
            textarea {{
                margin: 10px 0;
                width: 540px;
                height: 120px;
            }}
            .error {{ color: red;}}
        </style>
    </head>
    <body>
    <form method="POST">
            <label><h1>UserSignup</h1></label>
            <label>Username:
            <input type="text" name="username" value="{username}"></label>
            <span class="error">{username_error}</span>
            <br>
            <br>
            <label>Password:
            <input type="text" name="password" value="{password}"></label>
            <span class="error">{password_error}</span>
            <br>
            <br>
            <label>Verify Password:
            <input type="text" name="vpassword" value="{vpassword}"></label>
            <span class="error">{vpassword_error}</span>
            <br>
            <br>
            <label>Email (optional):
            <input type="text" name="email" value="{email}"></label>
            <span class="error">{email_error}</span>
            <br>
            <br>
            <input type="submit" value="Validate" />
        </form>
    </body>
</html>